* {
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #3C3744;
}

button {
  border-radius: 7px;
  padding: 6px;
  background-color: #3D52D5;
  border: none;
  color: white;
  cursor: pointer;
  transition: opacity ease-in-out 0.2s;
  min-width: fit-content;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
  cursor: default;
}

h1 {
  margin: 0
}

input {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid black
}